<body>
  <article class="welcome">
    <h2>Oh hi, word lover!</h2>
    <p>
      Hey! Welcome to this page. It's just a little thing I've been working on this week, and it's a way for YOU to apply Scrabble scoring rules to any word you want.

      Pretty neat, right? Right!

      To score a single word, click "Score a Word" above. To score multiple words at once, click "Score Lots of Words!"

      Thanks for stopping by! 
    </p>
  </article>
</body>
