<!DOCTYPE html>
<html>
<head>
  <title>Scrabble - Home</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="css" href="../stylesheets/styles.css">
</head>

<header>

</header>

<%= yield %>

<footer>

</footer>

</html>
