<body>
  <h1>Hey, word lover! </h1>

  <fieldset>
    <legend>Score lots of words!</legend>
    <p>
      So you've got a lot of words to score? We can help you with that! In the text box below enter your words with a space between them. We'll do the rest.
    </p>
    <form action="" method="post" accept-charset="utf-8">
      <label for="word">Score your words:</label>
      <input type="text" name="words" value="" id="word">
      <input type="submit" value="Get scores!">
    </form>
  </fieldset>

  <% if @words_to_score %>
  <p>
    <% @words_to_score.each do |score_needed| %>
    <% if Scoring.check_if_letters(score_needed) == false %>
    <%= "That word contains an invalid character, we can only score words containing characters in the Latin Alphabet. Please try again." %>
    <% break %>
    <% end %>
    <% score = Scoring.score(score_needed) %>
    Great! <%= "The score of the word '#{score_needed}' is #{score}." %>
    <% end %>
  </p>
  <% end %>
  
</body>


<!-- This used to be a part of the above loop because I thought maybe I would want to store these words and their scores in a hash in the future. I'm keeping it so that if it comes up that I want it, I won't forget what the heck I was doing with it. :)

words_with_scores = {}
words_with_scores[score_needed] = score
words_with_scores  -->
